body {
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card { 
    background-color: #e1e1e1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 600px;
    box-shadow: 10px 10px 15px #3c3c3c;
    /* margin: 0 auto; */

}

.card__image img {
    max-width: 100%;
}

.card__description {
    background-color: #62c256;
    color:#fff  ;
    padding: 16px;
}

.card__colors{ 
display: flex;
gap: 8px;}

.card__colors span   {
    
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 15px;

}

.card__info{ display: flex;}
.card__colors span:nth-child(1) {
    background-color: red;}

.card__colors span:nth-child(2) {
    background-color: gray;
}

.card__colors span:nth-child(3) {
    background-color: black;
}

.card__price {
    font-size: 2rem;
}

.card__buttons {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
}

.card__button {
    cursor: pointer;
    border: none;
    background-color: #000;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
}

.card__button--fedback {
    background-color: #ff0;
    color: #333;
    display: none;
}